/* The following line can be included in a src/App.scss */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
    background-color: white;
}

.lead-list-item {
    list-style: none;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    padding: 20px;
    margin-bottom: 10px;
}

.new-lead-modal {
    position: absolute;
    top: 32%;
    left: 25%;
}